{% load staticfiles %} <!-- pour lui dire de charger les css, img ... -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
    content must come *after* these tags -->
    <meta name="description" content="Glassware accuracy">
    <meta name="author" content="Germain Salvato Vallverdu">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Experiments</title>

    <!-- Latest compiled and minified CSS -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <!-- Bootstrap theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

  </head>
  <body>

    <a href="https://github.com/gVallverdu/TPstats">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    </a>

    <div class="container">
        <div class="jumbotron">
            <h2>Statistical plots<br/>
            <small>
                Collect, manage and visualize statistical information from all of
                your measurements over several groups or practical sessions.
            </small></h2>

            <a href="{% url 'home' %}" class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Home
            </a>
        </div>

        {% block content %}
        {% endblock %}

    </div>

    <footer class="footer">
        <div class="container">
            <div class="pull-right">
                <a href="http://www.univ-pau.fr"><img src="{% static 'img/logoUPPA.png' %}" height="64px" alt="UPPA" /></a>
                <a href="http://iprem.univ-pau.fr"><img src="{% static 'img/logoIPREM.png' %}" height="64px" alt="IPREM" /></a>
            </div>

            <script type=text/javascript>
                var a = "germain";
                var b = "univ-pau.fr";
                var c = "subject=Contact";
                document.write('<a href="mailto:' + a + '@' + b + ' ?' + c + '">');
                document.write("<span class='glyphicon glyphicon-envelope' aria-hidden='true'></span>");
                document.write(" <img src='{% static 'img/mail.png' %}' height='18px' alt='mail' />");
                document.write('</a>') ;
            </script>

            </a>
        </div>
    </footer>
  </body>
</html>
