{% extends 'collectDatas/base.html' %}

{% block content %}
    <div class="page-header">

        <h2>{{ exp.name }} <small>({{ exp.date }})</small></h2>
    </div>

    <a href="{% url 'detail_experiment' exp_id=exp.pk %}" role="button" class="btn btn-default" aria-label="Remove">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Back to data
    </a>

    <h3>Add new measures :</h3>

    <div class="alert alert-info" role="alert">
        Click on the desired item to add a measure.
    </div>

    <div class="list-group">
        {% for glassware in glasswares %}
                <a href="{% url 'new_measure' exp_id=exp.pk glass_id=glassware.pk %}" class="list-group-item" aria-label="New">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    {{ glassware.get_glassware_display }}
                </a>
        {% endfor %}
    </div>

    <h3>Remove measures :</h3>

    <div class="alert alert-danger" role="alert">
    <p>WARNINGS : Click only on the values you want to delete. To see all measures,
        <a href="{% url 'detail_experiment' exp_id=exp.pk %}">
            go back to the experiment page.
        </a>
    </div>

    <div class="row">
        {% for glassware, measures in data.items %}
            <div class="col-md-4">
                <h4>{{ glassware.get_glassware_display }}</h4>

                <div class="list-group">
                    {% for measure in measures %}
                        <a href="{% url 'delete_measure' measure_id=measure.pk %}" class="list-group-item">
                            <span class="label label-danger pull-right">Delete</span>
                            <span class="pull-right" style="padding-right:10px;"> {{ measure.measure_date }} </span>
                            {{ measure.fmt_value }} mL
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
