{% extends 'collectDatas/base.html' %}

{% block content %}
    <div class="page-header">
        {% if exp %}
            <h2>Edit experiment : {{ exp.name }} <small>({{ exp.date }})</small></h2>
            <a href="{% url 'detail_experiment' exp_id=exp.pk %}" role="button" class="btn btn-default" aria-label="Remove">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Back to data
            </a>
        {% else %}
            <h2>Add a new experiment</h2>
        {% endif %}
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
